#contact {
    padding: 40px 0;
}

#contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .container h2 {
    color: var(--title-color);
    font-weight: 900;
}

#contact .container p {
    width: 50%;
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#contact .container #contact-body {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

#contact-body #contact-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#contact-form #contact-head {
    display: flex;
    justify-content: space-between;
}

#contact-head h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

#contact-form h5 {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 600;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#contact-form form input[type="text"],
#contact-form form input[type="email"] {
    background-color: var(--backgorund-color-2);
    color: var(--text-color-1);
    padding: 0 10px;
    height: 30px;
    margin-top: 10px;
    border: none;
}

#contact-form form textarea {
    background-color: var(--backgorund-color-2);
    color: var(--text-color-1);
    padding: 0 10px;
    height: 150px;
    margin-top: 10px;
    border: none;
}

#contact-map {
    width: 50%;
}

#contact-map iframe {
    min-height: 300px;
    height: 100%;
    width: 100%;
    border: none;
}

@media only screen and (max-width: 600px) {

    #contact .container #contact-body {
        flex-direction: column;
        gap: 20px;
    }

    #contact-body #contact-form {
        width: 100%;
    }

    #contact-map {
        width: 100%;
    }
}